{% extends 'admin/change_form.html' %}
{% load admin_list admin_tree i18n static %}

{% block extrastyle %}
    {{ block.super }}
    {% treebeard_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/changelists.css' %}" />
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    {% treebeard_js %}
{% endblock %}

{% block submit_buttons_bottom %}
    {{ block.super }}

    {% if cl %}
    <div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">
        {% block search %}{% search_form cl %}{% endblock %}
        {% block date_hierarchy %}{% date_hierarchy cl %}{% endblock %}

        {% block filters %}
            {% if cl.has_filters %}
            <div id="changelist-filter">
                <h2>{% trans 'Filter' %}</h2>
                {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
            </div>
            {% endif %}
        {% endblock %}

        <form id="changelist-form" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %} novalidate>{% csrf_token %}
        {% if cl.formset %}
            <div>{{ cl.formset.management_form }}</div>
        {% endif %}

        {% block result_list %}
            {% if action_form and actions_on_top and cl.full_result_count %}
                {% admin_actions %}
            {% endif %}
            {% result_tree cl request %}
            {% if action_form and actions_on_bottom and cl.full_result_count %}
                {% admin_actions %}
            {% endif %}
        {% endblock %}
        {% block pagination %}{% pagination cl %}{% endblock %}
        </form>
    </div>

    <div class="submit-row">
        <a href="{% url 'admin:plainmenu_menuitem_add' original.pk %}" class="button">{% trans 'Add menu item' %}</a>
    </div>
    {% endif %}
{% endblock %}
